input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
  
input[type="number"] {
    -moz-appearance: textfield !important;
}

html{
	font-family: "OCR A Extended", monospace;
}

body {
	background-color: #006100;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1{
	text-align: center;	
	margin-top: 50px;
}

/* Overall container for the counter */
.counter-container {
	align-items: center;
	justify-content: center;
	margin: auto;
}

/* Styling for the buttons */
button {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	outline: 2px solid #00e718;
}

button:hover {
	background-color: #00e718;
}

#counter {
	font-size: 1.5rem;
	text-align: center;
	width: 60px;
	margin: 0 10px;
	border: 2px solid #00e718;
	border-radius: 10px;
	padding: 5px;
	background-color: #00e718;
}

footer {
	text-align: center;
	margin-top: auto;
	font-size: 0.8rem;
}

.links img {
	margin: 0 8px;
}